<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
</head>
<body>
 

    <nav class="navbar" id="top">
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Class Info</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>


    <section id="introSection">
        <h1>This is introSection</h1>
        <p>Eat Sleep Dance Repeat</p>
    </section>


    <section id="missionSection">
        <h3>Our Mission </h3>

        <div class="allCard">
            <div class="card" id="card1">
                <h5>This is card</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis dolorem rerum quae magnam itaque voluptas, debitis nulla consectetur, possimus, accusantium cupiditate inventore. Excepturi, nostrum. Ex, ducimus autem! Tempore amet ad reiciendis et qui. Cupiditate facilis culpa fugit possimus eveniet tempore asperiores a voluptate.</p>
            </div>
            <div class="card" id="card2">
                <h5>This is card</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis dolorem rerum quae magnam itaque voluptas, debitis nulla consectetur, possimus, accusantium cupiditate inventore. Excepturi, nostrum. Ex, ducimus autem! Tempore amet ad reiciendis et qui. Cupiditate facilis culpa fugit possimus eveniet tempore asperiores a voluptate.</p>
            </div>
            <div class="card" id="card3">
                <h5>This is card</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis dolorem rerum quae magnam itaque voluptas, debitis nulla consectetur, possimus, accusantium cupiditate inventore. Excepturi, nostrum. Ex, ducimus autem! Tempore amet ad reiciendis et qui. Cupiditate facilis culpa fugit possimus eveniet tempore asperiores a voluptate.</p>
            </div>
            <div class="card" id="card4">
                <h5>This is card</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque corporis dolorem rerum quae magnam itaque voluptas, debitis nulla consectetur, possimus, accusantium cupiditate inventore. Excepturi, nostrum. Ex, ducimus autem! Tempore amet ad reiciendis et qui. Cupiditate facilis culpa fugit possimus eveniet tempore asperiores a voluptate. </p>
            </div>
        </div>
    </section>

    
    <section id="sponsersSection">
        <h3>Our Sponser</h3>
        <div class="all-logo">
            <img id="small" src="../static/google-logo.png" alt="">
            <img id="small" src="../static/microsoft.png" alt="">
            <img id="big" src="../static/apple-logo.png" alt="">
            <img id="big" src="../static/hp-logo.png" alt="">
        </div>
    </section>

    <footer id="down">
        <h5>copyright &copy; 2021 AniketDanceAcademy.com | All rights reserved</h5>
    </footer>

</body>
</html>